<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">

                <h2 class="title">Posting a new opportunity</h2>
                <p class="description">Your project is very important to us, please complete all the information</p>
                <div class="row">
                    <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                        <div class="textarea-container">
                            <textarea class="form-control" name="name" rows="1" cols="1"
                                placeholder="Name of the project"></textarea>
                            <textarea class="form-control" name="name"
                                placeholder="Tell your future team a little description of your project"></textarea>
                            <textarea class="form-control" name="name"
                                placeholder="Tell them what they would do"></textarea>
                            <textarea class="form-control" name="name" placeholder="What do you offer?"></textarea>
                            <textarea class="form-control" name="name"
                                placeholder="How many time expect they work with you?" rows="1" cols="1"></textarea>
                        </div>
                        <br>
                        <div class="col" style="text-align:left;">
                            <p class="category">Location</p>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1">
                                    <span class="form-check-sign"></span>
                                    Remote
                                </label>
                            </div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option2" checked>
                                    <span class="form-check-sign"></span>
                                    Fixed Location
                                </label>
                            </div>
                            <div class="textarea-container">
                                <textarea class="form-control" name="name" rows="1" cols="1"
                                    placeholder="City"></textarea>
                            </div>

                            <br>

                            <p class="category">The project is</p>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1">
                                    <span class="form-check-sign"></span>
                                    An idea
                                </label>
                            </div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option2" checked>
                                    <span class="form-check-sign"></span>
                                    Working right now
                                </label>
                            </div>

                            <br>

                            <p class="category">Skills</p>
                            <div class="textarea-container">
                                <textarea class="form-control" name="name" rows="1" cols="1"
                                    placeholder="Input a skill that your partner should have"></textarea>
                                <textarea class="form-control" name="name" rows="1" cols="1"
                                    placeholder="Input a skill that your partner should have"></textarea>
                            </div>

                            <br>

                            <p class="category">Languages</p>
                            <div class="textarea-container">
                                <textarea class="form-control" name="name" rows="1" cols="1"
                                    placeholder="Input a language that your partner should have"></textarea>
                                <textarea class="form-control" name="name" rows="1" cols="1"
                                    placeholder="Input a language that your partner should have"></textarea>
                            </div>

                        </div>
                        <br>

                        <div class="send-button">
                            <a class="btn btn-primary btn-round btn-block btn-lg">Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>